<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1><%= title %></h1>
    <%- include('./partials/navBar.ejs') %>  

    <% users.forEach((user)=>{ %>
        <li>
            <%= user.name %> - <%= user.age %> - <%= user.email %>
        </li>
    <%})%>

    <%- include('./partials/foot.ejs') %>
</body>
</html>